* {
  margin: 0;
  padding: 0;
}

header {
  background-color: orange;
  padding: 20px 0;
}

header h1,
header h4 {
  color: black;
  text-align: center;
  font-family: "Merriweather", serif;
}

#options {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.indy-option {
  padding: 50px;
  border: 3px solid orange;
  border-radius: 50%;
  margin: 10px;
  transition: all 0.3 ease;
}

.indy-option:hover {
  cursor: pointer;
  background: orange;
}

#content-head {
  text-align: center;
  font-family: "Merriweather", serif;
  padding-top: 20px;
}

p {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 40px;
}
